
body {background-color:green;}
h1 {
  background-color:yellow;   
  font-family: helvetica, sans-serif;
  font-size: 70px;
  text-align:center;
}
li {font-family:helvetica, sans-serif;
  color:white;}




p { font-family: 'Poppins', sans-serif;
  font-size:20px;
  color: white;
  text-align: center;
  font-display: inline-block;
} 
  
img {width:300px;
    box-align:center;
}

