
body {background-color:whitesmoke;}
h1 {  
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -1;
  background: whitesmoke;
  border-style: solid;
  text-align:center;
  
}
li {font-family: 'helvetica', sans-serif;
  color:black;
text-align:center;

}




p { font-family: 'helvetica', sans-serif;
  font-size:21px;
  color: black;
  text-align: center;
  font-display: inline-flex;
} 
  
img {width:300px;
    box-align:center;
    top: -100%;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
    border-style: solid;
    border-radius: 100%;
    box-shadow: grey;
}

